{% extends 'base.html' %}
{% load humanize %}

{% block content %}

  <body class="blog-author bg-gray-200">
    <div class="container position-sticky z-index-sticky top-0">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-white border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
            <div class="container-fluid px-0">
              <a class="navbar-brand font-weight-bolder ms-sm-3" href="{% url 'movies:index' %}" rel="tooltip" data-placement="bottom">
                MOVIDIC
              </a>
              <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </span>
              </button>
              <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
                <ul class="navbar-nav navbar-nav-hover ms-auto">
                  <li class="nav-item my-auto ms-3 ms-lg-0 mx-3">
                    <div class="input-group input-group-dynamic">
                      <span class="input-group-text text-dark">
                        <i class="fas fa-search" aria-hidden="true"></i>
                      </span>
                      <input class="text-dark form-control " placeholder="Search" type="text">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <header>
      <div class="page-header min-height-600" style="background-image: url('{{ movie.cover_url}}'); background-position: center;" loading="lazy"></div>
    </header>
    <section class="py-lg-5">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card box-shadow-xl overflow-hidden mb-5 pe-5">
              <div class="row">
                <div class="col-lg-5 position-relative bg-cover px-0" style="background-image: url('{{ movie.poster_url }}'); background-position: center;" loading="lazy"></div>
                <div class="col-lg-7">
                  <div class="ps-5 py-5">
                    <div class="card-header pb-2">
                      <h2>{{ movie.title }}</h2>
                    </div>
                    <a class="btn btn-round bg-gradient-warning btn-icon mx-4 mb-5 px-3 py-2">
                      <div class="d-flex align-items-center">
                        <i class="material-icons me-2" aria-hidden="true">star</i>
                        <div class="fs-6">{{ movie.score }}</div>
                      </div>
                    </a>
                    <div class="card-body mt-3 pt-1">
                      <div class="row">
                        <div class="col-md-3 pe-2 mb-3">
                          <div class="input-group input-group-static">
                            <label class="mb-2 fw-bold">AUDIENCE</label>
                          </div>
                          <p class="text-dark">{{ movie.audience|intcomma }}</p>
                        </div>
                        <div class="col-md-3 pe-2 mb-3">
                          <div class="input-group input-group-static">
                            <label class="mb-2 fw-bold">RELEASE DATE</label>
                          </div>
                          <p class="text-dark">{{movie.release_date|date:'Y-m-d'}}</p>
                        </div>
                        <div class="col-md-3 pe-2 mb-3">
                          <div class="input-group input-group-static">
                            <label class="mb-2 fw-bold">GENRE</label>
                          </div>
                          <p class="text-dark">{{ movie.genre }}</p>
                        </div>
                        <div class="col-md-3 pe-2 mb-3">
                          <div class="input-group input-group-static">
                            <label class="mb-2 fw-bold">TRAILER</label>
                          </div>
                          <span class="badge bg-gradient-danger">
                            <a class="text-white" href="{{ movie.trailer_url }}" target="_blank">YOUTUBE</a>
                          </span>
                        </div>
                        <div class="col-md-12 pe-2 mb-3">
                          <div class="input-group input-group-static mb-4">
                            <label class="mb-2 fw-bold">DESCRIPTION</label>
                            <p class="text-dark">{{ movie.description }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 text-start ms-auto">
                          <a href="{% url 'movies:index' %}" class="btn bg-gradient-secondary mt-3 mb-0">BACK</a>
                        </div>
                        <div class="col-md-6 text-end ms-auto">
                          <form action="{% url 'movies:delete' movie.pk %}" method="POST">
                            {% csrf_token %}
                            <a href="{% url 'movies:update' movie.pk %}" class="btn bg-gradient-info mt-3 mb-0">UPDATE</a>
                            <input type="submit" class="btn bg-gradient-danger mt-3 mb-0" value="DELETE">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock content %}
